[submodule "externals/Dropbox-Uploader"]
	path = externals/Dropbox-Uploader
	url = https://github.com/zzymyn/Dropbox-Uploader.git
[submodule "externals/PackageApplication"]
	path = externals/PackageApplication
	url = https://gist.github.com/anonymous/48f3e4c5ae25313dc0fe10d9ec50c3fc
